.text-box{
  font-family: "VT323";
  background-color: aliceblue;
  margin-top: 350px;
  padding:30px;
  box-sizing:border-box;
  border-radius: 10px;
  width:400px;
  height:100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.choice-box{
  background-color: transparent;
  position:relative;
  display:flex;
  flex-direction: column;
  margin-top:10px;
}

.choice-btn{
  color:aliceblue;
  background-color: transparent;
  padding-top:10px;
  font-family: "VT323";
  font-size: 16px;
  border:none;
  border-radius: 20px;
}

.choice-btn:hover{
  opacity:80%;
  transition-duration: 0.3s;
}